<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../static/styles/login_registration_page.css">
    <!-- <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='styles/login_registration_page.css') }}"> -->

</head>
<body>
    <div class="row no-gutters" id="main_box">

      <div class="col-md-6">
        <div class="container" id="left_side">
            <!-- <img src="{{ url_for('static',filename='images/login-logo.png') }}" id="loginImg"> -->
            <div id="loginbox">
                <img src="../static/images/pharmacy.png" id="loginImg">
                <div class="header">
                    {% block header%} {% endblock %}
                </div>

                {% block body %}
                {% endblock %}
            </div>
       </div>
      </div>
      <div class="col-md-6">
          <div class="right_side">
            <!-- <img src="../static/images/hospital_building.jpg" alt="hospital" id="imgLogin"/> -->
          </div>
      </div>
    </div>
</body>
</html>